.header{
    text-align: center;
    background-color: #21212b;
    color: white;
    display: flex;
flex-direction: column;
}
.container-main{
border-radius: 20px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row;
box-shadow: 0 0 20px #8f7070;
padding: 0;
margin-top: 35px; 

}

.title{
text-align: center;
font-weight: 600;
margin-bottom: .2em;
line-height: 1;
font-family: Yellowtail,cursive;
font-size: 2em;
}
.subtitle{
    text-align: center;
    font-size: 18px;
margin-top: 2px;
margin-bottom: 1em;
}

.display-lolly{
    color: #dadadb;
font-family: open-sans,Helvetica,sans-serif;
font-weight: 300;
line-height: 1.8;
font-size: 18px;
margin: 5px;
padding: 10px;
text-align: center;
filter: drop-shadow(0 0 10px #000);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.return-btn{
    font-size: 20px;
    padding: 4px;
    color: #fa73d9;
    border: 1px solid #000;
    background-color: #000;
}
.detail-container{
padding-left: 2px;
}
p {
    margin-top: 2px;
    margin-bottom: 1em;
}
.share{
    color: #fa73d9;
    margin-top: .5em;
    padding: .5em 1em;
    border: 1px solid #000;
    background-color: #000;
}
.reciever{
    font-family: Yellowtail,cursive;
    font-size: 1em;
    font-style: normal;
    text-shadow: #000 0 0 10px;
}
.from{
    font-family: Yellowtail,cursive;
    font-size: 1em;
    font-style: normal;
    text-shadow: #000 0 0 10px;
    padding-left: 2em;
}
.details{
    margin-bottom: 1.5em;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    text-align: left;
    font-style: italic;
    font-size: 1.4em;
}